
/*登录页*/
.login-bgc{
    background: #222d32;
}
.panel{
    margin-top: 200px;
}
.panel h4{
    text-align: center;
}

/*首页的样式*/
body,html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/*左侧导航区*/
.lt-aside{
    background: #222d32;
    height: 100%;
    width: 180px;
    position: absolute;
    left: 0;
    transition: all 1s;
}
.lt-aside.toggle{
    left: -180px;
}
.lt-aside .topbar{
    background: #367fa9;
}
.lt-aside .topbar h3{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.lt-aside .portrait{

}
.lt-aside .portrait img{
    display: block;
    width: 60px;
    border-radius: 30px;
    margin: 40px auto 0;
}
.lt-aside .portrait p{
    color: #eee;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.lt-aside .menu {

}
.lt-aside .menu li{
    /*padding-left: 40px;*/
}
.lt-aside .menu li i{
    display: inline-block;
    margin-right: 4px;
}
.lt-aside .menu li a{
    display: block;
    color: #bbb;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
}
.lt-aside .menu li a:link,
.lt-aside .menu li a:visited,
.lt-aside .menu li a:hover,
.lt-aside .menu li a:active{
    color: #bbb;
    text-decoration: none;
}
/*点击后页面跳转当前的一级目录所对应的样式*/
.lt-aside .menu li>a.now{
    border-top: 3px solid transparent;
    border-left: 3px solid #367fa9;
    border-bottom: 3px solid transparent;
    background: #222;
    color: #fff;
}

.lt-aside .menu li .submenu{
    /*padding-left: 50px;*/
     display: none;
}
.lt-aside .menu li .submenu a{
    display: block;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
    font-size: 12px;
}
/*点击后页面跳转当前的二级目录所对应的样式*/
.lt-aside .menu li .submenu a.now{
    color: #eee;
}
/*右侧主题内容*/
.lt-main{
    padding-left: 180px;
    height: 100%;
    transition:all 1s;
    /*background: lightblue;*/
}
.lt-main.toggle{
    padding-left: 0;
}
.lt-main .main-head{
    background: #3c8dbc;
}
.lt-main .main-head span{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
}
.lt-main .main-content{
    padding: 0 20px;
}
.lt-main .main-content .breadcrumb{
    margin:20px 0;
}
.lt-main .main-content .breadcrumb a:hover{
    text-decoration: none;
    color: #8a6de9;
}
.lt-main .main-content .breadcrumb a.common{
    color: #888;
}

.echart-box{

}
.echart-box .left-echart{
    width: 45%;
    height: 400px;
    margin-right: 10%;
}
.echart-box .right-echart{
    width: 45%;
    height: 400px;
}
/*模态框的样式*/
.modal .modal-body p>i{
    margin-right: 3px;
}

/*用户页user.html页面的样式*/
.lt-main .user-info{

}
.lt-main .user-info table{

}
.lt-main .user-info table th{
    text-align: center;
}

/*商品管理页product.html页面的样式*/
/*.lt-main .table-responsive{*/
    /*margin-top: 16px;*/
/*}*/
.mt{
    margin-top: 16px;
}
.lt-main .table-responsive th{
    text-align: center;
}
/*一级分类页面样式*/

/*二级分类页面样式*/
.pic-box{
  position: relative;
}
.pic-box .pic-add{
    z-index: 1;
}
.pic-box #brandLogo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
}
.pic-box img{
    width: 100px;
}
tbody img{
    width: 120px;
    height: 60px;
}